# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home2/smrtshop/app2"
PassengerBaseURI "/pravalia"
PassengerNodejs "/home2/smrtshop/nodevenv/app2/9/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
